{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}Contact / Devis{% endblock %}

{% block metaDescription %} {{ parent() }}
    Back to Mobile, page de prise de contact et de demande de devis
{% endblock %}

{% block stylesheets %}{{ parent() }}
    {{ encore_entry_link_tags('contact') }} 
{% endblock %}


{% block body %}

    <div class="container bigone">

        {# Top squares #}
        <div class="row col-xl-12 contner">
            <div class="col-xl-3 offset-xl-9">
                <img class="carreshaut float-right" alt="carrés colorés" src="{{ asset('build/img/carres_verticaux2.png') }}">
            </div>
        </div>
        <!-- Contact form-->
        <div class="row contactcont">
            <div class="row contactcontainer">

                {{ form_start(formContact) }}
                <div class="col-12 col-md-11 col-lg-10 col-xl-10 mx-auto contactzone">
                    <!-- Left column -->
                    <div class="col-md-6 col-sm-12 leftcolumn">
                        <!-- Form title -->
                        <h1 style="padding-top:2rem">Contact / Devis</h1>
                        <div class="underlinetitle" style="margin-bottom: 1.5rem">
                            <div class="col-6 livingline"></div>
                            <div class="col-6 livingunder"></div>
                        </div>

                        <!-- message flash -->
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success rounded-0" role="alert">
                               {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('failure') %}
                            <div class="alert alert-danger rounded-0" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {{ form_errors(formContact) }}
                        <!-- Firstname and name inputs-->
                        <div class="form-group row namerow">
                            <div class="col-12 col-lg-6">
                                {{ form_widget(formContact.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formContact.name) }}
                            </div>
                            <div class="col-12 col-lg-6">
                                {{ form_widget(formContact.lastName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formContact.lastName) }}
                            </div>
                        </div>
                        <!-- Email input -->
                        <div class="form-group row emailrow">
                            <div class="col-12">
                                {{ form_widget(formContact.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formContact.email) }}
                            </div>
                        </div>
                        <!-- Message subject -->
                        <label for="selectcustom">Objet de votre message</label>
                        {{ form_widget(formContact.object, {'attr': {'class': 'custom-select'}}) }}
                        {{ form_errors(formContact.object) }}
                        <!-- RGPD -->
                        <div class="form-group rgpdrow row col-sm" style="padding-right: 0">
                            <div class="col-sm checkpart">
                                <div class="form-check">
                                    {{ form_widget(formContact.rgpd, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_errors(formContact.rgpd) }}
                                    <label class="form-check-label" for="gridCheck1">
                                        En soumettant ce formulaire, j'accepte que les informations saisies soient
                                        exploitées dans le cadre de la demande de contact ou de devis, ainsi que de la
                                        relation commerciale qui peut en découler.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 col-sm-12 rightcolumn">
                        <!-- Message -->
                        <div class="message">
                            <div class="form-group messzone">
                                <label for="comment">Message</label>
                                {{ form_widget(formContact.message, {'attr': {'class': 'form-control text', 'rows':
                                '14'}}) }}
                                {{ form_errors(formContact.message) }}
                            </div>
                        </div>

                        <!-- Submit button-->
                        <div class="form-group row submitline" style="margin-bottom: 0">
                            <div class="col-12 submitbutton" style="padding-left: 1rem; padding-right: 0;">
                                <input type="submit" value="envoyer votre message" class="btn btn-block text-uppercase"
                                    style="height: 3.125rem">
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(formContact) }}
            </div>
        </div>

        {# Bottom squares #}
        <div class="row col-xl-12 contner">
            <div class="col-xl-3">
                <img class="img-fluid float-left carresbas" alt="carrés colorés" src="{{ asset('build/img/carres_verticaux3.png') }}">
            </div>
            <div class="col-xl-9"></div>
        </div>
    </div>
{% endblock %}