{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}Back to Mobile, l'agence web mobile{% endblock %}

{% block metaDescription %} {{ parent() }}
    Back to Mobile accompagne les entreprises dans leur volonté de créer ou développer leur activité dans une économie
    numérique où le mobile s’impose comme le premier point d’accès au web. Expert en Progressive Web Apps (PWA), notre
    agence web propose des expériences de navigation sur mobile innovantes.
{% endblock %}

{% block stylesheets %}{{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}

    <!-- Introduction video -->
    <section>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ asset('build/video/mock.mp4') }}" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100">
                    <h2 class="videotitle display-3">Back To Mobile</h2>
                    <p class="lead mb-0 text-white">Aujourd'hui, mobile comme jamais</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid home">
        <!-- Infography row -->
        <div class="row infography">
            <div class="col-12 col-md-10 col-lg-8 firstblock">
                <h1 class="text-uppercase mobileh1">
                    Votre communication avec Back to Mobile
                </h1>
                <p class="textpfirstblock">
                    Nous accompagnons les entreprises dans leur volonté de créer de la valeur dans une économie
                    numérique où <u class="utype1">le mobile s’impose comme le premier point d’accès au web</u>.
                </p>
            </div>
            <div class="col-md-4 col-md-4 col-lg-4 d-flex flex-column imagetag" style="padding-right: 0; padding-left: 0">
                <img class="img-fluid d-flex justify-content-start carreshaut d-none d-xl-block" alt="carrés colorés" src="{{ asset('build/img/carres_modele2_haut.png') }}">
                <img class="img-fluid d-flex justify-content-end carresbas d-none d-xl-block" alt="carrés colorés" src="{{ asset('build/img/carres_modele2_bas.png') }}">
            </div>

            <!-- Infographies -->
            <div class="col-12 col-md-6 order-1 d-flex justify-content-center">
                <img class="img-fluid imgta tel80fois" alt="Téléphone consulté 80 fois par jour" src="{{ asset('build/img/80fois.jpg') }}">
            </div>
            <div class="col-12 col-md-6 order-3 order-md-2 d-flex justify-content-center align-items-end">
                <img class="img-fluid imgta treizefois" alt="Achats 13% plus rapides" src="{{ asset('build/img/13percents.jpg') }}">
            </div>
            <div class="col-12 col-md-6 textin intop order-2 order-md-3 d-flex flex-column justify-content-center">
                <p class="uppart text-center">Nous consultons en moyenne 
                <br>
                <span class="importanttext" style="color: #48ad72">80 fois par jour</span> notre smartphone </p>
                <p class="bottompart text-center">Étude du cabinet Deloitte réalisée en 2016</p>
            </div>
            <div class="col-12 col-md-6 textin order-4 d-flex flex-column justify-content-center">
                <p class="uppart text-center">Conversions sur mobile <span class="importanttext" style="color: #ad4f48">13% plus rapides</span>
                <br>
                que d’ordinateur à ordinateur</p>
                <p class="bottompart text-center">Étude réalisée en 2016 aux États-Unis par Facebook</p>
            </div>
        </div>
        <hr class="seplinehaute" style="border: 1px solid #48ad72">

        <!-- Approche row -->
        <div class="row approche">
            <h2 class="col-12 secondarytitle appro">
                Notre approche
            </h2>
            <div class="col-12 col-md-6 col-lg-7 approchetext">
                <p>
                    <u>Experts<strong> en Progressive Web</strong>Apps (PWA)</u>, nous aimons avant tout
                    créer des expériences de navigation
                    sur mobile innovantes qui font appel aux dernières avancées technologiques. 
                <br><br>
                    Notre équipe sera chaque jour à vos côtés pour <strong>créer votre site internet</strong> et élaborer des outils de communication adaptés à
                    vos besoins.
                </p>
                <img class="imgroue img-fluid float-right d-none d-lg-block d-xl-block" alt="Roue crantée des pwa" src="{{ asset('build/img/pwaroue.png') }}">
            </div>
            <div class="col-12 col-md-6 col-lg-5 approchimg1 d-flex justify-content-center align-items-center">           
                <img class="col-12 img-fluid breveexplic mx-auto align-items-center d-none d-md-block d-lg-block d-xl-block" src="{{ asset('build/img/PWA_accueil_desktop_test.svg') }}" alt="Schéma PWA accueil">
                <img class="col-12 img-fluid breveexplic mx-auto d-sm-block d-md-none" src="{{ asset('build/img/PWA_accueil_mobile.svg') }}" alt="Schéma PWA accueil">   
            </div>
            <div class="col-12 col-md-2 offset-md-10 d-flex justify-content-center">
                <a class="btn btn-lg actionbtn testbtn btn-block text-uppercase rounded-0" href="{{path('expertise')}}#pwa">En
                    savoir plus</a>
            </div>
        </div>
        <hr class="sepline" style="border: 1px solid #48ad72">


        <!-- Confiance row -->
        <div class="row confiance" id="faitconfiance">
            <h2 class="col-12 secondarytitle confi">
                Ils nous ont fait confiance
            </h2>
            <img class="col-md-2 offset-md-10 img-fluid carresverticaux d-none d-xl-block" src="{{ asset('build/img/carres_verticaux2.png') }}" alt="carrés verticaux">
            <div class="col-8 col-sm-6 col-md-3 confimg mx-auto">
                <a href="https://www.francetvinfo.fr/" target="_blank">
                    <img class="img-fluid imgtag tag1" alt="Site de FranceInfo" src="{{ asset('build/img/france-info.png') }}">
                </a>
            </div>
            <div class="col-8 col-sm-6 col-md-3 confimg mx-auto">
                <a href="http://projet4.julienf-oc.fr/" target="_blank">
                    <img class="img-fluid imgtag tag1" alt="Site du Louvre" src="{{ asset('build/img/louvre.jpg') }}">
                </a>
            </div>
            <div class="col-8 col-sm-6 col-md-3 confimg mx-auto">
                <a href="http://etudiant.aujourdhui.fr/etudiant/" target="_blank">
                    <img class="img-fluid imgtag tag1" alt="Site du Parisien, section étudiant" src="{{ asset('build/img/parisienlogo.png') }}">
                </a>
            </div>
            <div class="col-8 col-sm-6 col-md-3 confimg mx-auto" target="_blank">
                <a href="https://fondation.edf.com/fr">
                    <img class="img-fluid imgtag tag1" alt="Fondation EDF" src="{{ asset('build/img/fondationedf.png') }}">
                </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
