{% extends 'base_blog.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }}  {% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

    {% block blog_content %}
        <div class="row d-flex justify-content-center">
            {% include "_show_post.html.twig" %}
            {% include "_sidebar.html.twig" %}
        </div>
    {% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}





