{% extends 'base_blog.html.twig' %}

{% block title %} {{ parent() }} Le blog {% endblock %}

{% block stylesheets %} {{ parent() }}  {% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

 {% block blog_content %}
     <div class="row p-1 d-flex justify-content-center">
         {% include "_list_posts.html.twig" %}
         {% include "_sidebar.html.twig" %}
     </div>
 {% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}











