<div class="col-lg-9 p-0">
    {% if posts.getTotalItemCount %}

        {% for post in posts %}

            <div class="card mb-4 rounded-0 d-flex flex-lg-row " style="height: auto;">
                <img class="blog-img-list img-fluid" src="https://picsum.photos/500/500/?random" alt="{{ post.title }}">
                <div class="card-body d-flex justify-content-between flex-column pt-1">
                    <div>
                    <h3 class="card-title">{{ post.title }}</h3>
                    <h6 class="card-subtitle pb-1 text-muted">Publié le {{ post.createdAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }} par {{ post.author }} pour Back To Mobile{% for category in post.category %}, {{ category.name }}{% endfor %}</h6>
                    <p class="card-text">{{ post.content|striptags|trim|truncate(250, true, '...') }}</p>
                    </div>
                <div>
                    <a class="btn btn-dark float-right rounded-0" href="{{ path('post',{'url_page_post': 'blog', 'slug': post.slug}) }}" role="button">Lire la suite...</a>
                </div>


                </div>
            </div>



        {% endfor %}

    {% else %}

        Aucun post

    {% endif %}

    <!--- Pagination -->
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>


</div>
