<!-- {% do posts.setTemplate('pagination/pagination_list_post.html.twig') %} -->
<div class="p-0 col-12 col-lg-8 col-xl-9">

    {% if posts.getTotalItemCount %}

        {% for post in posts %}

            <div class="card card-post mb-4 rounded-0 d-flex flex-row " style="height: auto;">
                <img class="d-none d-md-flex blog-img-list img-fluid" src="/uploads/images/post{{ asset(post.image) }}" alt="Illustration {{ post.title }}">
                <div class="card-body p-3">
                    <div>
                        <h2 class="card-title text-center text-lg-left">{{ post.title }}</h2>
                        <h6 class="card-subtitle text-center text-lg-left pb-1 text-muted font-weight-light">Publié
                            le {{ post.createdAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}
                            par {{ post.author }} pour Back To
                            Mobile{% for category in post.category %}, {{ category.name }}{% endfor %}</h6>
                    </div>


                    <!-- mobile version -->
                    <div class="d-flex d-md-none justify-content-center flex-column">
                        <img class="blog-img-list mx-auto img-fluid" src="/uploads/images/post{{ asset(post.image) }}" alt="Illustration {{ post.title }}">
                        <p class="mt-3 card-text">
                            {% if post.metaDescription %}
                                {{ post.metaDescription|striptags|trim|truncate(250, true, '...') }}
                            {% else %}
                                {{ post.content|striptags|trim|truncate(250, true, '...') }}
                            {% endif %}

                        </p>
                        <div>
                            <a class="col-12 btn blog-button rounded-0"
                                href="{{ path('post',{'url_page_post': 'blog', 'slug': post.slug}) }}" role="button">
                                {% if post.metaDescription %}
                                    Lire l'article
                                {% else %}
                                    Lire la suite...
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <div class="d-none flex-column d-md-flex bg-white p-3">
                        <p class="card-text">
                            {% if post.metaDescription %}
                                {{ post.metaDescription|striptags|trim|truncate(250, true, '...') }}
                            {% else %}
                                {{ post.content|striptags|trim|truncate(250, true, '...') }}
                            {% endif %}

                        </p>
                        <div class="text-right">
                            <a class="btn blog-button rounded-0"
                                href="{{ path('post',{'url_page_post': 'blog', 'slug': post.slug}) }}" role="button">
                                {% if post.metaDescription %}
                                    Lire l'article
                                {% else %}
                                    Lire la suite...
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% else %}

        Aucun post

    {% endif %}

    <!--- Pagination -->
    <div class="d-flex justify-content-end">
        {{ knp_pagination_render(posts) }}
    </div>


</div>
