<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <html lang="fr">

    <!-- Title -->
    <title>{% block title %}BTM . {% endblock %}</title>

    <!-- Meta -->
    <meta name="description" content="{% block metaDescription %} {% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap & Fontawesome CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
        crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('build/img/favicon.png') }}" type="image/png">
    <link rel="icon" href="{{ asset('build/img/favicon.ico') }}" type="image/ico">
    <link rel="apple-touch-icon" href="{{ asset('build/img/apple-icon.png') }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ asset('build/img/apple-icon-57x57.png') }}" type="image/png">

    <!-- Stylesheet -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('base') }}
    {% endblock %}

    <!-- Chat script -->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c65a15ea6c3590a404d3e1a/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</head>


<body>

    {# Navigation #}
    {% block header %}
        <header>
            <!-- Navbar and button -->
            {% set image_menu = 'burger.png' %}
            {% include "_header.html.twig"%}
            <!-- Modal menu -->
            {% set image_menu = 'xcloseblanc50.png ' %}
            {% include "_modal_menu.html.twig"%}
        </header>
    {% endblock %}

    {# Content of each page #}
    <div class="mt-container-body">
        {% block body %}
        {% endblock %}
    </div>

    {# Footer #}
    {% block footer %}
        <footer class="footerglobal">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        {# Info about the agency #}
                        <div class="col-md-4 col-lg-4 footer-about d-flex flex-column align-content-center">
                            <a class="logo-footer" href="{{path('homepage')}} ">
                                <img class="img-fluid" src="{{ asset('build/img/logoblanc.png') }}" alt="logo du footer sur fond blanc">
                            </a>
                            <p style="color: #ffffff">
                                Back to Mobile accompagne les entreprises
                                dans leur volonté de proposer des expériences de navigation sur mobile innovantes.
                            </p>
                            <p style="color: #ffffff">Notre savoir-faire<a href="{{path('expertise')}}#teampart" style="color: #fa7268">ici</a></p>
                        </div>
                        {# Contact zone #}
                        <div class="col-md-4 col-lg-3 offset-lg-1 d-flex justify-content-center flex-column align-content-center footer-contact">
                            <h3>Contact</h3>
                            <p style="color: #ffffff"><i class="fas fa-map-marker-alt"></i>BP 238 - Théhillac - Cedex 9</p>
                            <p><i class="fas fa-phone"></i><a href="tel:+33 5 54 67 81 42" style="color: #ffffff">+33 5 54 67 81 42</a></p>
                            <p><i class="fas fa-envelope"></i><a href="mailto:contact@backtomobile.fr" style="color: #ffffff">contact@backtomobile.fr</a></p>
                        </div>
                        {# Navigation links #}
                        <div class="col-md-4 col-lg-3 offset-lg-1 d-flex justify-content-center align-content-center footer-links">
                            <ul class="navbar-nav justify-content-center" style="border: none">
                                <li class="nav-item">
                                    <a href="{{path('homepage')}}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{path('service')}}">A votre service</a>
                                </li>
                                <li class="nav-item ">
                                    <a href="{{path('expertise')}}">Notre expertise</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{path('posts', {'url_page_post': 'blog'})}}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{path('contact')}}">Contact / Devis</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {# Bottom part #}
            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="row">
                        {# Social links #}
                        <div class="col-md-3 footer-social text-center">
                            <a href="https://fr-fr.facebook.com/" target="_blank">
                                <i class="fab fa-facebook-square fa-lg"></i>
                            </a>
                            <a href="https://www.instagram.com/?hl=fr" target="_blank">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                            <a href="https://fr.linkedin.com/" target="_blank">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fab fa-twitter fa-lg"></i>
                            </a>
                        </div>
                        {# Legal informations #}
                        <div class="col-md-6 footer-copyright text-center order-2 order-lg-1">
                            <p>{{'&'}}copy;2019 Copyright Back To Mobile - <br class="d-none d-sm-none d-md-block d-lg-none d-xl-none">Tous droits réservés</p>
                        </div>
                        <div class="col-md-3 footer-mentions order-1 order-lg-2">
                            <a href="{{path('legalNotice')}}">Mentions légales</a>
                            <a style="padding-left: 0.875rem" target="_blank" href="{{ asset('build/pdf/BTM_politique_confidentialite.pdf') }}">RPGD</a>
                            <a href="{{path('easyadmin')}}" target="_blank">
                                <img class="img-fluid" style="padding-left: 0.875rem; max-height: 0.875rem" src="{{ asset('build/img/lock.png') }}"
                                    alt="Image de cadenas blanc">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}


    <!-- Cookie alert message -->
    <div class="alert alert-dismissible text-center cookiealert" role="alert">
        <div class="cookiealert-container">
            <b>Aimez vous les cookies ?</b> &#x1F36A; Nous utilisons des cookies pour vous assurer la meilleure
            expérience sur notre site.
            <a href="{{path('legalNotice')}}#rgpdf" target="_blank">En savoir plus</a>
            <button type="button" class="btn btn-sm acceptcookies" aria-label="Close">
                J'accepte
            </button>
        </div>
    </div>


    <!-- Up button -->
    <button id="myBtn" type="button" class="btn"></button>


    <!-- JS block  -->
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('base') }}
    {{ encore_entry_script_tags('cookie') }}
    {% endblock %}

</body>

</html>