{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}
{% block metaDescription %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="pl-0">Le blog Back To Mobile</h1>
        {% block blog_content %}
        {% endblock%}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}


