<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('error') }}

    <title>BTM - Erreur {{ status_code }}</title>
</head>
<body>
{% block body %}
<div class="hero ">

    <div class="inner-text">
        <p class="p1"><span id="status_code">{{ status_code }}</span>:</p>
        <p class="p2"></p>
        <div class="col-12 col-sm-12 col-md-6 offset-md-3 d-flex btnligne justify-content-center">
            <a class="btn actionbtn text-uppercase rounded-0" href="{{ path('homepage') }}">Back to Accueil</a>
        </div>
    </div>
</div>
{% endblock %}
<!---{{ status_code }} <div class="inner-text">
            <p class="p1">404:</p>
            <p class="p2">Error</p>
            <div class="col-12 col-sm-12 col-md-6 offset-md-3 d-flex btnligne justify-content-center">
                <a class="btn btn-lg actionbtn text-uppercase rounded-0" href="https://www.google.fr/">Back to Accueil</a>
            </div>
        </div> {{ status_text }} --->


{{ encore_entry_script_tags('error') }}
{{ encore_entry_script_tags('app') }}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>

